.profile__container {
    display: flex;
    gap: 30px;
}

@media (max-width: 1080px) {
    .profile__container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
        gap: 26px;
    }
}

@media (max-width: 320px) {
    .profile__container {
        gap: 22.25px;
    }
}