.button_type_save {
   margin-top: 18px;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 18px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 2px;
}

.button_type_save:hover {
    opacity: .8;
}

@media (max-width: 560px) {
    .button_type_save {
        margin-top: 15px;
        font-size: 14px;
        line-height: 17px;
    }
}