.element__text_big-view {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    bottom: -25px;
    left: 0;
    color: var(--primary-color);
    
}