.profile {
    display: flex;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    justify-content: space-between;
}

@media (max-width: 1080px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
}