.footer__text {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}

@media (max-width: 768px) {
    .footer__text {
        font-size: clamp(14px, 4vw, 18px);
        line-height: clamp(17px, 4vw, 22px);
    }
}