.button__btn-edit {
    width: 24px;
    height: 24px;
    border: 1px var(--primary-color) solid;
    background-color: var(--bg-color);
    align-self: center;
    grid-area: edit;
    background-image: url(../../../images/buttons/btn-edit-pen.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .button__btn-edit {
        width: clamp(18px, 10vw, 24px);
        height: clamp(18px, 10vw, 24px);
    }
}