.button_type_like {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/buttons/btn-like.svg);
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;

    background-position: center;
    
    width: 22px;
    height: 19px;
   margin-bottom: 3px;
  
}

.button_type_like:hover {
    opacity: .5;
}

