<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mesto</title>
  </head>
  <body class="page">
    <div class="wrapper wrapper__header">
      <header class="header">
        <img
          class="logo"
          src="<%= require('./images/logo/logo.svg') %>"
          alt="Логотип"
        />
      </header>
    </div>
    <div class="wrapper">
      <main class="content">
        <section class="profile">
          <div class="profile__container">
            <div class="avatar-box">
              <img class="avatar" alt="аватар" src="" />
            </div>
            <div class="profile__info">
              <div class="profile__name">
                <h1 class="profile__user-name"></h1>
                <button class="button button_type_edit" type="button"></button>
              </div>
              <p class="profile__user-info"></p>
            </div>
          </div>
          <button class="button button_type_add" type="button"></button>
        </section>
        <section class="elements"></section>
      </main>

      <footer class="footer">
        <p class="footer__text">&copy; 2022 Mesto Russia</p>
      </footer>
    </div>
    <div class="popup popup_type_profile">
      <div class="popup__container">
        <button class="button button_type_close" type="button"></button>

        <h2 class="popup__title">Редактировать профиль</h2>
        <form name="profile-edit" class="form form_type_profile" novalidate>
          <input
            id="form__input_type_name"
            name="name"
            type="text"
            value=""
            placeholder="Имя"
            class="form__input form__input_type_name"
            required
            minlength="2"
            maxlength="40"
          />
          <span class="form__input_type_name-error form__input-error"></span>
          <input
            id="form__input_type_job"
            name="info"
            type="text"
            value=""
            placeholder="О себе"
            class="form__input form__input_type_job"
            required
            minlength="2"
            maxlength="200"
          />
          <span class="form__input_type_job-error form__input-error"></span>
          <button type="submit" name="submit-profile-edit" class="button button_type_save">
            Сохранить
          </button>
        </form>
      </div>
    </div>

    <div class="popup popup_type_photo">
      <div class="popup__container">
        <button class="button button_type_close" type="button"></button>

        <h2 class="popup__title">Новое место</h2>
        <form name="photo-add" class="form form_type_photo" novalidate>
          <input
            id="form__input_type_place-name"
            name="name"
            type="text"
            value=""
            placeholder="Название"
            class="form__input form__input_type_place-name"
            required
            minlength="2"
            maxlength="30"
          />
          <span
            class="form__input_type_place-name-error form__input-error"
          ></span>
          <input
            id="form__input_type_photo-url"
            name="info"
            type="url"
            value=""
            placeholder="Ссылка на картинку"
            class="form__input form__input_type_photo-url"
            required
          />
          <span
            class="form__input_type_photo-url-error form__input-error"
          ></span>
          <button type="submit" name="submit-card-add" class="button button_type_save">Сохранить</button>
        </form>
      </div>
    </div>

    <div class="popup popup_big-view">
      <div class="popup__container popup__container_big-view">
        <button
          class="button button_type_close button_type_close-bv"
          type="button"
        ></button>
        <img
          class="element__illustration element__illustration_big-view"
          src=""
        />
        <p class="element__text element__text_big-view"></p>
      </div>
    </div>

    <div class="popup popup_type_avatar">
      <div class="popup__container">
        <button class="button button_type_close" type="button"></button>

        <h2 class="popup__title">Обновить аватар</h2>
        <form name="change-avatar" class="form form_type_avatar" novalidate>
          <input
            id="form__input_type_avatar"
            name="avatar-url"
            type="url"
            value=""
            placeholder="Url"
            class="form__input form__input_type_avatar"
            required
          />
          <span
          class="form__input_type_avatar-error form__input-error"
        ></span>
        <button type="submit" name="submit-avatar-edit" class="button button_type_save">Сохранить</button>
      </div>
    </div>

    <template id="photo-grid">
      <div class="element">
        <img class="element__illustration" />
        <img
          class="element__trash"
          src="<%= require('./images/buttons/btn-trash.svg')%>"
        />
        <div class="element__info">
          <h2 class="element__text"></h2>
          <div class="like-box">
            <button class="button button_type_like" type="button"></button>
            <span class="likes-amount"></span>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
