.wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 200px;

    max-width: 1280px;


}

@media (max-width: 768px) {
    .wrapper {
        padding-left: 19px;
        padding-right: 19px;
    }
}